<section class="container pt-5">
    <h3 class="text-secondary text-center pt-4 pb-4">Add Product</h3>
    <form class="form-control" enctype="multipart/form-data" action="/admin/addproduct" method="post">
        <div class="form-row pt-5 text-center">
            <div class="col-12 m-2">
                <input type="text" class="form-control" name="Name" placeholder="name">
            </div>
            <div class="col-12 m-2">
                <input type="text" class="form-control" name="Category" placeholder="category">
            </div>
            <div class="col-12 m-2">
                <input type="number" class="form-control" name="Price" placeholder="price">
            </div>
            <div class="col-12 m-2">
                <input type="text" class="form-control" name="Link" placeholder="image link">
            </div>
            <h4>And</h4>
            <div class="col-12 m-2">
                <input type="file" class="form-control" name="image" placeholder="Image">
            </div>
            <button class="btn btn-secondary mt-3" type="submit">Add and update</button>
        </div>
    </form>
</section>