<section class="container pt-5">
    <form>
        <div class="form-row pt-5 text-center">
            <div class="col-12 m-2">
                <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col-12 m-2">
                <input type="text" class="form-control" placeholder="catergory">
            </div>
            <div class="col-12 m-2">
                <input type="number" class="form-control" placeholder="price">
            </div>
            <div class="col-12 m-2">
                <input type="text" class="form-control" placeholder="image">
            </div>
            <h3>or</h3>
            <div class="custom-file" style="border-style:ridge;border-width:0.001rem; border-color:black;">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose image file</label>
            </div>
            <button class="btn btn-secondary mt-3" type="submit">Add and update</button>
        </div>
    </form>
</section>