<section class="container pt-5">
    <form class="form-control" enctype="multipart/form-data" action="/admin/addproduct" method="post">
        <div class="form-row pt-5 text-center">
            <div class="col-12 m-2">
                <input type="text" class="form-control" name="name" placeholder="name">
            </div>
            <div class="col-12 m-2">
                <input type="text" class="form-control" name="category" placeholder="catergory">
            </div>
            <div class="col-12 m-2">
                <input type="number" class="form-control" name="price" placeholder="price">
            </div>
            <div class="col-12 m-2">
                <input type="text" class="form-control" name="link" placeholder="image link">
            </div>
            <h4>OR</h4>
            <div class="col-12 m-2">
                <input type="file" class="form-control" name="image" placeholder="Image">
            </div>
            <button class="btn btn-secondary mt-3" type="submit">Add and update</button>
        </div>
    </form>
</section>