<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; z-index: 11; width: 100%; background:linear-gradient(to left,rgb(217, 255, 255),white);">
    <div class="container">
        <a class="navbar-brand text-success col-2" style="font-family: Verdana, Geneva, Tahoma, sans-serif"
            href="#home">D M | D e a l s</a>
        <div class="d-flex col-5 text-center">
            <input type="text" id="input" class="form-control me-2" placeholder="Search...">
            <button id="searchButton" class="btn btn-light" style="border: 0.1 rem; border-color:black ">Search</button>
        </div>
        <div class="col-1"></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse col-4" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="productDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Add Products</a>
                    <ul class="dropdown-menu" aria-labelledby="productDropdown">
                        <li><a class="dropdown-item" href="#td">Top Deals</a></li>
                        <li><a class="dropdown-item" href="#fw">Fashion Series</a></li>
                        <li><a class="dropdown-item" href="#sw">Sports Series</a></li>
                        <li><a class="dropdown-item" href="#cus">Custom Series</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Queries</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="productDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                    <ul class="dropdown-menu" aria-labelledby="productDropdown">
                        <li><a class="dropdown-item" href="/login">Login</a></li>
                        <li><a class="dropdown-item" href="/signup">SignUp</a></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <button id="cart" class="btn btn-outline-dark cart-btn" type="button" style="margin-left: 0.3rem;">
                <i class="fas fa-shopping-cart"></i>
                <span class="badge">0</span>
            </button>
        </div>
    </div>
</nav>