<section style="background: linear-gradient(to right,rgb(206, 255, 216),white);">
    <div class="container py-5">
        <div class="row mb-4">
            <div class="col-lg-6">
                <a href="/" class="d-flex align-items-center text-info text-decoration-none">
                    <svg class="me-2" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <rect x="3" y="1" width="7" height="12"></rect>
                        <rect x="3" y="17" width="7" height="6"></rect>
                        <rect x="14" y="1" width="7" height="6"></rect>
                        <rect x="14" y="11" width="7" height="12"></rect>
                    </svg>
                    <span class="fs-5 fw-bold text-uppercase">DM Deals</span>
                </a>
                <p class="text-muted mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam.</p>
                <p class="text-muted">Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                    sunt explicabo.</p>
            </div>
            <div class="col-lg-3">
                <h5 class="fw-bold">Contacts</h5>
                <p class="my-1">Phone: <a href="tel:850-123-5021" class="text-dark">123-4567-098</a></p>
                <p class="mb-1">Email: <a href="mailto:info@lorem.mail" class="text-dark">info@dmdeals.gmail</a></p>
                <p>Address: <a href="https://www.google.com/maps" target="_blank" class="text-dark">312 Anonymous
                        Street, NY</a></p>
            </div>
            <div class="col-lg-3">
                <h5 class="fw-bold">Social</h5>
                <div class="d-flex gap-2 mt-4">
                    <a href="https://www.instagram.com/" target="_blank" class="text-dark mr-5"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="https://wa.me/" target="_blank" class="text-dark mx-3"><i class="fab fa-whatsapp fa-2x"></i></a>
                    <a href="https://www.facebook.com/" target="_blank" class="text-dark"><i class="fab fa-facebook fa-2x"></i></a>
                </div>
                <p class="text-secondary mt-2">Please connect us these</p>
            </div>
        </div>
        <div class="border-top pt-3 d-flex flex-column flex-lg-row justify-content-between">
            <p class="text-muted">&copy; Copyright 2025 DMDeals Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex gap-3">
                <li><a href="/" class="text-muted text-decoration-none">F.A.Q</a></li>
                <li><a href="/" class="text-muted text-decoration-none">Privacy Policy</a></li>
                <li><a href="/" class="text-muted text-decoration-none">Terms & Conditions</a></li>
            </ul>
        </div>
    </div>
</section>