<div class="container text-center text-secondary bg-white col-12" style="height: 100vh; margin-top:8rem">
    <h1 class="m-5" style="border-color: black; border-width:2px; border-radius:5px;">THANKS FOR THE ORDER,ORDER IS SUCCESSFULLY PLACED</h1>
    <a class="btn btn-primary" href="/">Home</a>
</div>